.header {
    display: flex;
    align-items: center;
    background-color: #FFE0CC;
    padding-right: 50px;
    padding-left: 50px;
    height: 100px;
    border-bottom: 2.9px solid #FF6600;
}

.logo img {
    height: 50px;
}

.spacer {
    flex: 1;
}

.user-profile {
    display: flex;
    align-items: center;
}

.language {
    font-weight: bold;
    color: #333;
}

.divider {
    width: 1px;
    height: 64px;
    background-color: #333;
    margin-right: 25px;
}

.user-info {
}

.user-name {
    display: block;
    font-weight: bold;
}

.user-role {
    display: block;
    color: #555;
}

.user-avatar {
    background-color: black;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.user-avatar img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

// @media (max-width: 600px) {
//     .header {
//         flex-direction: column;
//         height: auto;
//         padding: 10px;
//     }

//     .logo img {
//         height: 30px;
//         /* Adjust for smaller screens */
//     }

//     .user-profile {
//         margin-top: 10px;
//     }

//     .user-info {
//         text-align: center;
//         margin-right: 0;
//     }

//     .language,
//     .divider {
//         margin-right: 0;
//     }

//     .divider {
//         display: none;
//         /* Hide divider on small screens */
//     }
// }