@use '@angular/material' as mat;
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import './app/styles/margin-padding';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.text-align-center {
  text-align: center;
}